<!DOCTYPE html>
<html>
	<head>
		<meta charset="ISO-8859-1">
		<title>Insert title here</title>
	</head>
	<body>
		<h2>Welcome To The Student Panel</h2>
		<div id ="login">
			<h4>Login detail </h4>
			<form action="students" method="post">
			 	  Registered EmailId:
			  	  <input type="email" name="email"  id="email" required><br><br>
			      password:
			      <input type="password" name="password"  id="password" required>
			      <button type="submit" value="send" >login</button>
			 </form> 
		</div>
		<div>
		<a href="newregistrationstudent" >don't have account</a>
		</div>
	    <script>

//  	    function loadLogin(){
	    	
// 	  	  var email = document.getElementById("emailid").value;
// 	  	  var password = document.getElementById("password").value;
	  	 
// 	  	  window.location.href="student/"+email+"/"+password;	
// 	  	 }

	    </script>
	</body>
</html>